<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="index" appConnect="local" -->
<div class="row">
    <div class="col bg-primary">
        <h1>Hello</h1>
    </div>
    <div class="col bg-warning">
        <h1>World</h1>
    </div>
</div>
<meta name="ac:route" content="/">